main {
    .hero-section {
        height: 90vh;
        background-color: var(--primairy-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: var(--font-primary);
            font-size: 8rem;
            color: var(--secondary-color);
            text-align: center;
            line-height: 110px;
        }
    }
}
